.item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  background-color: rgb(221, 78, 78);
  padding: 0.2rem 1rem;
  border-radius: 5px;

  font-size: .8rem;
  color: #fff;

  user-select: none;
}

.correct {
  background-color: rgb(80, 190, 80);
}

.logo {
  width: 25px;
  display: block;
  margin: 0;
}

.team {
  width: 25px;
}
