.search {
  position: relative;
}

.input {
  width: 100%;
  margin-bottom: .5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgb(26, 26, 26);
  padding: 0.6rem 1rem;
  font-family: inherit;
}

.input:focus {
  outline: none;
}

.results {
  background-color: rgba(26, 26, 26, .97);
  border: 1px solid #333;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  max-height: 65vh;
}

.result {
  padding: 0.6rem 1rem;
  cursor: pointer;
}

.result:hover {
  background-color: #181818;
}
